{% extends 'base3.html' %}

{% block 'titulo' %} Reservar {% endblock %} 

{% block 'conteudo' %}

<div class = "container">
    <br>
    {% if status == '0'%}
        <div class="alert alert-success" role="alert">
            Reserva do livro realizado com sucesso
        </div>
    {% endif %}

    {% if status == '1'%}
        <div class="alert alert-danger" role="alert">
            Todos os campos devem estar preenchidos
        </div>
    {% endif %}

    {% if status == '2'%}
        <div class="alert alert-danger" role="alert">
            A reserva desse livro já existe no sistema
        </div>
    {% endif %}

    {% if status == '3'%}
    <div class="alert alert-danger" role="alert">
        Quantidade de caracteres inválidas
    </div>
    {% endif %}

    {% if status == '4'%}
        <div class="alert alert-danger" role="alert">
            No campo código do leitor e cpf do funcionário não deve conter letras
        </div>
    {% endif %}

    {% if status == '5'%}
    <div class="alert alert-danger" role="alert">
        Título, cpf ou código do leitor não existem
    </div>
    {% endif %}


    {% if status == '6'%}
    <div class="alert alert-danger" role="alert">
        Erro interno do sistema
    </div>
    {% endif %}

    {% if status == '7'%}
    <div class="alert alert-danger" role="alert">
        Esse usuário já possui uma reserva
    </div>
    {% endif %}

    {% if status == '8'%}
    <div class="alert alert-danger" role="alert">
        Não foi possível realizar a reserva, pois esse livro está disponível
    </div>
    {% endif %}
    

    <div class="row">

        <div class="col-md-3">
        
        </div>

        <div class="col-md">
        <h4>Reserve um exemplar</h4>
        <hr>

        <form method="POST" action="{% url 'valida_reserva' %}">{% csrf_token %}
            <label>Título da obra</label>
            <input name="titulo" class="form-control" type="text" placeholder="Título....">
            <br>
            <label>CPF do funcionário</label>
            <input name="cpf_biblio" class="form-control" type="text" placeholder="CPF....">
            <br>
            <label>Código do leitor</label>
            <input name="cod_leitor" class="form-control" type="text" placeholder="Código....">
            <br>
          
            <input class="btn btn-info btn-lg" type="submit" value="Enviar">
        </div>

        <div class="col-md-3">
        
        </div>

    </div>
</div>

{% endblock %}