<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    {% block 'head' %} {% endblock %}
    <title>{% block 'titulo' %} {% endblock %}</title>
  </head>
  <body>
    <!-- As a link -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="{%url 'home'%}">BIBLIOTECA</a>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Cadastrar novo livro
  </button>
</nav>

    {% block 'conteudo' %} {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" ></script>

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Cadastrar Livro</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="{% url "Cadastrar_livro" %}" method="POST" enctype='multipart/form-data'>
                  <table>
                    {%csrf_token%}
                    {{form.as_table}}
                  </table>
                  <input type="submit" class="btn btn-success" value="Cadastrar">
                  </form>
              </form>
            </div>
          </div>
        </div>
      </div>
    
  </body>
</html>